<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head") %>
  </head>

  <body>
    <%- include("./partials/navbar") %>
    <h1><%= userProfile.name %>'s Profile</h1>
  <% if (canMakeFriendRequest) {%> <form action="/users/friendships/<%= userProfile.id %>/new" method="post"><button>Send friend request</button></form> <% } %> 
    <p>
      <a href="/users/<%= userProfile.id %>/friends">See <%= userProfile.name %>'s friends</a>
    </p>
    <% posts.forEach(post => { %>
    <div class="post">
      <p><%= post.content %></p>
      <p>By: <%= post.user.name %></p>
      <p>Date: <%= post.timestamp %></p>
      <p>Likes: <%= post.likes %></p>
      <form action="/posts/<%= post.id %>/like" method="POST">
        <button>Like this post</button>
      </form>
      <h2>Comments</h2>
      <% comments.forEach(comment => {  %>
      <!-- loop through each comment and add it below the post if it matches the posts id-->
      <% if (comment.post.equals(post.id)){ %>
      <p><%= comment.content %></p>
      <p><%= comment.user.name %></p>
      <p>Date: <%= comment.timestamp %></p>
      <p>Likes: <%= comment.likes %></p>
      <form action="/posts/<%= post.id %>/comments/<%= comment.id %>/like" method="POST">
        <button>Like this comment</button>
      </form>
      <%}%>
          <% }) %>
    
      <h3>New Comment</h2>
        <form action="/posts/<%= post.id %>/comments/new" method="post">
          <label for="content">Content</label><br />
          <textarea name="content" type="textarea" required></textarea><br />
          <button>Create Comment</button>
        </form>
    </div>
    <hr/>
    <% }) %>
  </body>
</html>
